<% content_for :content do %>
    <% @fav_tag = 'favicon_auction.ico' %>
    <div class="container">
      <%= render :partial => 'spree/toolbars/auctions' %>
      <%= yield %>
    </div>
<% end %>

<%= render :template => 'spree/layouts/spree_application' %>