<% content_for :content do %>
    <% @sale_body_class = "sale-bg"  %>
    <div class="container">
      <%= render :partial => 'spree/toolbars/sales' %>
      <%= yield %>
    </div>
<% end %>
<% content_for :sub_footer do %>
    <ul class="pull-left no-list">
      <li class="foot-title"><strong>Sale</strong></li>
      <li><a href="#">About Sales</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
<% end %>
<%= render :template => 'spree/layouts/spree_application' %>