<% content_for :content do %>
    <% @sale_body_class = "sale-bg"  %>
    <% @fav_tag = 'favicon_sale.ico' %>
    <div class="container">
      <%= render :partial => 'spree/toolbars/sales' %>
      <%= yield %>
    </div>
<% end %>

<%= render :template => 'spree/layouts/spree_application' %>