body{
    width: 1020px;
    position: relative;
    padding-top: 70px;
    margin: 0 auto;
}
#sold-topbar{
    margin-bottom: 0px;
    border-bottom: 2px solid #f07b05;
}
ul.nav{
    li{
        text-align: center;
        img{
            align: center;
            height: 20px;
            width: 22px;
        }
        h2{
            height: 26px;
            color: #fff;
            font-size: 18px;
        }
    }
}
#footer{
    background: #000;
    border-bottom: 2px solid #f07b05;
    padding: 20px 0;
    width: 1020px;
    h3{
        font-size: 14px;
        font-family: Arial;
        margin-bottom: 1em;
        color: #f6911f;
    }
    ul{
        margin: 0; padding: 0;
    }
    li{
        list-style-type: none;
        color: #fff;
        margin: 0; padding: 0;
    }
    .footer-links-block{
        float: left;
        margin-right: 20px;
    }

}