h3.flash-sale-time{
  font-size: 18px;
  font-family: Arial;
  color: $grayDarker;
  strong {
    color: $red;
  }
}
#product-images {
    #main-image{
        border: none;
        margin-top: 40px;
    }
}
#product-description{
    .product-title{
       color:$grayDark;
       border: none;
    }
}

.product-description-row{
    padding: 3px 0;
    @include top-bottom-border();
    .normal-price {
        color: $grayDark;
        .strikethrough{
          text-decoration: line-through;
        }
    }
}

.add-to-cart{
    h3{
        color: $logoOrange;
        float: left;
        width:230px;
    }
    .quantity-select{
        float: left;
    }
    .btn-add-to-card{
        float: right;
    }

}
