





//.partnerspage//

.clearfix {clear: both;}

div.partnerimg{
  border: thin solid black;
  width: 380px;
  height: 285px;
  margin: 40px 15px 0 0;
  float: left;
  @include box-shadow($shadow: 0 1px 5px rgba(0,0,0,.25))
}

div.partnerdetail {
  width: 480px;
  float: left;
  margin: 60px 15px;
    span.orange{color: $soldOrange;}
  
  
  }                    

div.partnerthumbs {
  border: thin solid grey;
  width: 80px;
  height: 60px;
  float: left;
  margin-right: 18px;
}

div.dealcontainer {
  width: 850px;
  border: thin dashed black;
  margin:30px auto;


  div.deal {
    width: 60px;
    height: 160px;
    background-color:$soldOrange;
    border-right: dashed thin black;
    float: left;

  }

  div.dealtxt {
    color: #ffffff;
    font-size: 36px;
    @include rotate($degrees:-90deg);
    margin-top: 90px;
  }

  div.dealdetail {
    font-size: 14px;
    width: 580px;
    float: left;
    margin:20px 20px;

    span.orange{color: $soldOrange;}
  }

  div.dealimg {
    border: solid thin gray;
    width: 150px;
    height: 125px;
    float: left;
    margin-top: 15px;
  }

}

//*footer//

