body {background: url("/assets/rough_diagonal.png"); font-family: 'Asap', sans-serif;}
body.auction-bg {background: url("/assets/auction-bg.png"); font-family: 'Asap', sans-serif;}
.clearfix, .clear {clear: both;}
.blackbg {background-color: black;
  width: 940px;
  height: 85px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;}



.on-red {color: #ffffff; font-size: 16px;display: inline-block;margin-right: 10px;}
.txt-white {color: $white;}
.txt-orange, .lil-links {color:$soldOrange;}
.txt-red {color: #ff0000;}
.txt-green {color:#00CC33;}
.txt-blue {color:#77d4ff;}
.txt-black {color:#000000;}
.txt-36 {font-size: 36px;}
.txt-24 {font-size: 24px;}
.txt-18 {font-size: 18px;}
.txt-16 {font-size: 16px;}
.txt-14 {font-size: 14px;}
.txt-12 {font-size: 12px;}

.dark-link {color: $soldOrange;}
.no-list {list-style: none;}
.form-inline {margin-bottom: 10px;}
.field-space {margin-right: 5px;}

.arrow-right {
  width: 0px;
  height: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #ffffff;}

.arrow-down {
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.circle{
  width:15px;
  height:15px;
  display:block;
  border-radius:50px;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  -khtml-border-radius:50px;
  background:gray;
}
a.page.circle {
  font-size:0px;
}

.corner-triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 40px 40px 0;
  border-color: transparent #ff3300 transparent transparent;
}

.discount {
  color: white;
  @include rotate(50deg);
  position: relative;
  left: 22px;
  top: -3px;
}

//ads//
.top-space {margin-top: 7px;}
.banner-ad {width: 940px; height: 130px; border: gray 1px solid; margin: 10px 0 20px 0;}
.square-ad {width: 210px; height:172px; border: gray 1px solid; margin: 25px 0 15px 15px;}
.vert-ad {width: 220px; height: 600px;  border: gray 1px solid; margin-bottom: 20px; background-color: #fff; &.small{height: 250px;}}


#rookie {
  @include rotate(-90deg);
  position: fixed;
  bottom: 50%;
  right: -43px;
}

.prod-image {
  width: 220px;
  height: 165px;
  margin: 0 auto;
    &.big {width: 380px; height:285px;}}



//---------toolbars---------//

.toolbar {
  @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));
  @include border-radius($radius: 5px 5px 5px 5px);
  padding: 3px 0 5px 0;
  margin: 20px 0;
  width: 940px;
  height: 40px;
  background: #666666; /* Old browsers */
  background: -moz-linear-gradient(top,  #666666 0%, #333333 50%, #000000 51%, #111111 100%, #111111 100%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(50%,#333333), color-stop(51%,#000000), color-stop(100%,#111111), color-stop(100%,#111111), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #666666 0%,#333333 50%,#000000 51%,#111111 100%,#111111 100%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #666666 0%,#333333 50%,#000000 51%,#111111 100%,#111111 100%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #666666 0%,#333333 50%,#000000 51%,#111111 100%,#111111 100%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #666666 0%,#333333 50%,#000000 51%,#111111 100%,#111111 100%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
//toolbar-auction//
.toolbar-reg, .toolbar-sale {margin: 0; padding: 0; color: #fff;}
.toolbar-reg li {display: block; float:left; }
.toolbar-shop-cat li {display: block; float:left; margin-right: 10px;}

.tb-mypage {background-image: url("/assets/wrench.png"); background-repeat: no-repeat; background-position: top center;padding-top: 24px}
.tb-myauctions, .tb-mytokens {width: 70px; text-align: center; padding-top: 3px;}
.tb-topup {background-image: url("/assets/buytokens.png"); background-repeat: no-repeat; background-position: top center;width: 61px;
  height: 40px; text-align: center;}
.tb-tips {width: 70px; text-align: center; padding-top: 5px;}
a.mypage{padding: 10px 5px 5px 10px; color: #ffffff;}
a.mytip, a.mytop {text-align: center; color: #ffffff;}
.auc-welcome {display: inline-block; margin: 10px 60px;}

.toolbar-notif {
  display: table-cell;
  vertical-align: middle;
  margin-right:10px;
  padding: 0 5px 0 5px;
  color: #fff;
  width: 530px; height:39px;
  background: #000000;}

a.tb-myfavs {
  display: block;
  width:67px;
  height:40px;
  margin: 0 15px;
  background-image: url("/assets/fav1.png"); background-position: top center; background-repeat: no-repeat;

    &:hover {background-image: url("/assets/fav_hover.png"); background-position: top center; background-repeat: no-repeat;}
}

a.tb-myauto {
  display: block;
  width:67px;
  height:40px;
  margin-right: 10px;
  background-image: url("/assets/auto1.png"); background-position: top center; background-repeat: no-repeat;

  &:hover {background-image: url("/assets/auto_hover.png"); background-position: top center; background-repeat: no-repeat;}
}

a.tb-buy {
  display: block;
  width:67px;
  height:40px;
  margin-right: 5px;
  background-image: url("/assets/buy1.png"); background-position: top center; background-repeat: no-repeat;

  &:hover {background-image: url("/assets/buy_hover.png"); background-position: top center; background-repeat: no-repeat;}
}


//toolbar-shop//
.toolbar-shop-cat {padding: 13px; margin: 0;}
.toolbar-shop-cat li a {color: #ffffff; font-size: 16px; margin-right: 5px;}

//toolbar-sale//
.toolbar-sale li {list-style: none;margin-right: 20px; padding:10px;}


//---------------------mother of homepages---------------------//

//banner//
div#myCarousel.carousel.slide {
  height:350px;
  width: 940px;
  background-color: #ffffff;
  margin:0;
    @include border-radius($radius: 0 0 10px 10px);
    @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));

}
.carousel .item > img {
  display: block;
  line-height: 1;
  height: 350px;
  width: 950px;
}

//main boxes//
.main-box {
  background-color: #ffffff;
  width: 300px;
  height: 1000px;
  float: left;
  margin-right: 20px;
  padding-bottom: 10px;
    @include border-radius($radius: 15px);
    @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));
    &.right {margin:0;}
}
.main-title {
  width: 300px;
  text-align: center;
  margin-top: 20px;
      a {  font-size: 24px;
        font-weight: bold;
        background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
 }

.main-divider {
  margin-top:5px;
  width: 300px;
  height: 8px;
    &.auction {background-image: url("/assets/main-auction-divider.jpg"); background-position: bottom center; background-repeat: no-repeat}
    &.shop {background-image: url("/assets/main-shop-divider.jpg"); background-position: bottom center; background-repeat: no-repeat}
    &.onsale {background-image: url("/assets/main-onsale-divider.jpg"); background-position: bottom center; background-repeat: no-repeat}
}

.main-prod-name {
  font-weight: bold;
  font-size: 16px;
  padding: 0 10px 0 10px;
  height: 35px;
  margin-bottom: 5px;
  //display: table-cell;
  //vertical-align: bottom;
}

.main-prod-img {
  margin: 0 0 20px 0;
  position: relative;
  width: 300px;
  height: 240px;
  background-image: url("/assets/main-divider.jpg"); background-position: bottom center; background-repeat: no-repeat;

}
.main-top-bar  {
  width: 290px;
  height: 18px;
  background-color: red;
  position: absolute;
  top: 0;
  padding: 5px 0 5px 10px;
  display:none;
      a:hover{color: white}
}

.main-bottom-bar {
  width: 285px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom:0px;
  padding: 5px 5px 5px 10px;
  display:none;
    .txt-orange {display: inline-block; margin-left: 10px;}
    .txt-red {display: inline-block; margin-left: 5px;}
}

.main-prod-img:hover .main-top-bar {display : block;}
.main-prod-img:hover .main-bottom-bar{display : block;}

.cta-seemore {margin-right: 10px; font-size: 14px;}

//registration modal//
.modal-txt {font-size: 10px; color: gray; font-style: italic; margin-top: -5px;
  margin-bottom: 5px;}

div#myRegistration.modal.hide.fade {
  display: none;
  padding: 10px 20px;
  width: 450px;}


.midbtn {line-height: 28px;
  display: inline-block;
  margin: 0 5px;}

//shopping cart preview//
.btn-space {margin-right: 5px; }


.empty-cart {border: gray 1px solid;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;}

.full-cart {
  border: gray 1px solid;
  padding: 5px;
  margin: 0;
    a, a:hover {color: black;}
}

.cart-preview-prod-name {
  width: 150px;
}
.cart-preview-auc-name {width: 100px; margin-top: 10px;}

.cart-preview-icon {width: 22px;}
.cart-preview-detail {font-size: 12px; color: gray;padding-top: 5px;}
a.cart-product-title{white-space: normal; color: black;
  line-height: 16px; font-weight: bold;}

.cart-price-small {line-height: 25px;
  margin-left: 35px;}

a.btn-edit{color: blue; border: red thin solid; background-color: black;}
a.btn-edit:hover {color: blue; text-decoration: none;}




//---------------------auctions---------------------//


//auction registration//
div#myAuctions.modal.hide.fade {
  display: none;
  padding: 10px 10px 20px 10px;
  width: 450px;
  //height: 600px;


}
div.impt-reminder {padding: 0 20px 0 20px;}

div#myValidation.modal.hide.fade {
padding: 10px;

  div.modal-body {padding: 10px;
    & > div {
      width: 450px;
      margin: 0 auto;
    }

    a.btn.val-sms {
    margin-right: 135px;
    }
  }
}
.bid.login {width: 27px;
  span.l-1 {
    display: none;
  }
  span.l-2 {
    display: block;
  }
}
.bid.login:hover {
  background: red;
  padding-left: 20px;
  padding-right: 40px;
  span.l-1{
    display: block;
  }
  span.l-2 {
    display: none;
  }
}

//auction homepage//

.btn-bid {padding: 5px 30px 5px 30px;margin-top: 5px;}
.btn-bid-small {padding: 3px 15px 3px 15px; margin: 8px 1px 0 0;}
.btn-bid:hover, .btn-bid-small:hover, .giant-btn:hover, .btn-shopadd:hover {background: #ff3300;}

.bid.login {width: 50px;
  span.l-1 {display: none;}
  span.l-2 {display: block;}
}
.bid.login:hover {
  background: red;
    span.l-1 {display: block;}
    span.l-2 {display: none;}
}

.auction-main-pagination li {
  color: #ffffff;
  display: block;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
    a.circle:hover, a.circle.active {background:#f07b05;}
}

.auc-box, .sale-box, .upsale-box{
  width: 220px;
  height: 310px;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-right: 20px;
    @include border-radius($radius: 5px);
    @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));

  div.bottom {padding: 5px 10px; text-align: center};
  div.auction-price {margin-top: 10px;};
  div.auction-closed {text-align: center;
    width: 95px;
    padding: 0;
    line-height: 15px;};


  div.time-wrap {
      background-color:#000000;
      color:white;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 5px 5px 2px;
      height: 20px;
    }

  div.soldout {text-align: center; font-size: 24px; font-weight: bold;line-height: 20px;}
  div.sale-img {margin: 10px 0 10px 0;}
  div.bottom-sale {margin: 0 10px;}
  span.status-1{
   @extend .txt-red;
  }
  span.status-2{
    @extend .txt-24;
    @extend .txt-red;
    @extend .pull-right;
  }

}

.container-auctions .auc-box:nth-child(4n+0), .container-auctions .auc-box-small:nth-child(4n+0), .container-sale .sale-box:nth-child(3n+0), .container-sale .upsale-box:nth-child(3n+0), .container-shop .shop-box:nth-child(4n+0), .container-cat .shop-box:nth-child(3n+0){
  margin:0 !important;
}

.auc-box.right, .auc-box-small.right {margin: 0;}
.auc-box:hover, .auc-box-small:hover {
  -webkit-box-shadow: 0px 3px 20px rgba(240, 123, 5, 1);
  -moz-box-shadow: 0px 3px 20px rgba(240, 123, 5, 1);;
  box-shadow: 0px 3px 20px rgba(240, 123, 5, 1)
}

.auc-prod{width: 170px; font-weight: bold; margin: 3px 0 0 5px;}
.star {margin: 5px 5px 5px 0; background: url("/assets/star_02.png"); width: 31px; height:30px;}
.star:hover {background: url("/assets/star_01.png"); width: 31px; height:30px;}
.auc-icons {margin: 0 0 0 5px; height: 27px;}
a.top-prod, span.top-prod {font-size: 14px;white-space: normal;}
.completed {border-top-right-radius: 0px;}

.auc-bot-left{width: 100px;line-height: 28px;}
.auc-bot-right {}

//auction product page//

.auc-box-small {
  width: 220px;
  height: 102px;
  background-color: #ffffff;
  margin-right: 15px;
  padding-left: 3px;
  float: left;
    @include border-radius($radius: 5px);

  div.on-lil-auc {position: relative; top: -65px;}
}

.lil-auction-details {
  text-align: center;
  width: 130px;
  padding: 4px;
      div.user {font-size: 14px; height:15px}

}

.prod-top {
  width: 930px;
  height: 25px;
  background-color: gray;
  font-size: 18px; color:#ffffff;
  margin-top: 20px; padding-top: 5px; padding-left: 10px;
  border-top-left-radius: 5px; border-top-right-radius: 5px;
}
.prod-body {
  width:920px;
  padding: 10px 10px;
  background-color: #ffffff;
  border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
  @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));
  span.status-1{
    @extend .txt-red;
  }
  span.status-2{
    @extend .txt-red;
  }

}
.sm-widgets  {margin-top: 5px;margin-bottom: 25px;}
.auc-prod-big {width:700px;}
.prod-thumbs {
  margin-top: 20px;
    img {margin-right: 10px;}
}
.prod-bid {
  width: 270px;
  text-align: center;
  margin: 0 10px 0 10px;

    ul, ul.u-save {list-style: none; margin: 0;padding: 0;}
}

.prod-autobid {width: 240px; text-align: center;}
.auc-animation {width: 250px;
  text-align: center;
  margin: 20px auto;
  padding-top: 15px;
  background-color: black;
  height: 30px;
  color: whiteSmoke;}

.giant-timer {font-size: 58px; margin-bottom: 20px;}
.giant-btn {
  padding: 5px 105px 5px 105px;
  margin: 10px 0 25px 0;
  font-size: 24px;}

.auto-box {
  text-align: center;
  padding: 5px 5px 0 5px;
  margin-bottom: 10px;
  width: 230px;
  background: #666666; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjY2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top,  #666666 0%, #000000 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(50%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #666666 0%,#000000 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #666666 0%,#000000 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #666666 0%,#000000 50%); /* IE10+ */
  background: linear-gradient(to bottom,  #666666 0%,#000000 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
    @include border-radius($radius: 5px);
}
.auto-info{margin-top: 10px;}
.auto-label {line-height: 12px;font-size: 12px;margin-top: 5px;}
.rev-btn {padding: 5px 10px 5px 10px;}
.auto-btn {padding: 5px 29px 5px 29px;}

table.auto-settings {
  width: 230px;
  color: white;
    th, td, thead {text-align: center; }
    thead {background-color: rgba(0, 0, 0, 0.0);}
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: inherit;
}


.auto-table {
  width: 240px;
  margin-bottom:10px;
      thead tr th, td {text-align: left; padding: 0 0 0 5px;}
}

//auction-mypage//
.mypage-main, .account-main, {
  width: 760px;
  background-color: white;
  @include border-radius($radius: 5px);
  @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));
  margin: 0 0 20px 0;

  h1 {margin: 10px 0 0 10px;}
    span {margin-left: 10px; margin-right: 20px;}
    ul {list-style: none;}
    ul li {line-height: 36px;}
    ul li span {display: inline-block; margin-top: -26px;}

  .sms-alert {background-color: #f5f5f5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px 10px 10px 25px;

      .note {margin-left: 18px;}
  }

  //account main//
  .changes {font-size:18px; font-weight: bold; float:left;margin-left: 20px; width:200px;}
  .personal {
    width:350px;
    margin: 0;
        .mydetail {width: 100px;}
  }
  ul.personal li {padding: 0; line-height: 2;}
  a.btn-update {
    margin: 0 35px 10px 0;
    padding: 5px 25px 5px 25px;}
}

.mypage-fixright, .account-fixright {
  width: 165px;
  ul li a{line-height: 16px}
}

.mypage-summary {
  padding-bottom: 10px;
  width:160px;
  background-color:#ffffff;
  margin-bottom: 20px;
  @include border-radius($radius: 5px);
  @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));

  div.gray {
    background-color: #666666; height: 20px;
    color: white;
    padding: 2px 5px 0 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  ul {list-style: none; margin: 0; padding: 10px 5px 0 5px;}
  ul li {line-height: 24px;}
  li.active {color: #f07b05}


}



//---------------------shop main---------------------//

.shop {
  @include border-radius($radius: 5px);
}
.shop-offers {border: gray thin solid; height:30px;text-align: center;}
.shop-details {width: 500px; margin-left: 10px; padding: 10px;}
.shop-details ul,{list-style: none;margin: 10px 0 35px 0; padding: 0;}
.shop-details ul li.pull-left {
  padding-top: 5px;
  display: block;
  margin-right: 20px;
}
.shop-short-desc {
    ul {width: 200px;margin-bottom: 20px;}
    ul.shop-tags li{display:block; float: left; margin-right: 10px;}
}
.shop-variation{line-height: 25px;}
#shop-quantity {width: 50px; height: 25px;}
.shop-cta {float: right;}
.btn-shopadd {
  margin: 0;

  &.small {padding: 0 20px 0 20px;};
  div {margin: 0 5px 0 0;float: left;};
}

.shop-box {
  width: 220px;
  height: 300px;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-right: 20px;
  @include border-radius($radius: 5px);
  @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));

  div.bottom {margin: 0 10px;}
  div.price {margin-top: 10px;}
  &.right {margin:0;}

  &.persona {
    height: 315px;
    div.persona-wrap {
      background-color:#9999CC;
      color:white;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding: 2px 5px 2px;

        a:hover,a {color: #ffffff;}
    }
  }
}

.shop-box:hover, .shop-small:hover {
  -webkit-box-shadow: 0px 3px 20px rgba(119, 212, 255, 1);
  -moz-box-shadow: 0px 3px 20px rgba(119, 212, 255, 1);;
  box-shadow: 0px 3px 20px rgba(119, 212, 255, 1)
}

.shop-prod{font-weight: bold; margin: 5px 5px 15px 5px;}
.shop-image {border-top: #dcdcdc thin solid; border-bottom: #dcdcdc thin solid; margin: 20px 0 20px 0; width:220px; height:165px; }

//categories//
.view-cat {
  height: 500px;
  width: 220px;
  background-color: white;
  @include border-radius($radius: 5px);
  @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));
  margin-bottom: 20px;
}
.cat-left {width: 700px; float:left;}
.cat-right {width:225px; margin: 0; padding: 0; float: right;}
.cat-content {padding: 10px;}

//--------------------sale main---------------------//

.sale-box:hover{
  -webkit-box-shadow: 0px 3px 20px rgba(255, 51, 0, 1);
  -moz-box-shadow: 0px 3px 20px rgba(255, 51, 0, 1);;
  box-shadow: 0px 3px 20px rgba(255, 51, 0, 1)
}

.upsale-box {
  width: 220px;
  height: 260px;
  background-color: #ffffff;
  margin-bottom: 20px;
  margin-right: 20px;
  @include border-radius($radius: 5px);
  @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));

    div.start {text-align: left;}
}

.sale-image {width:220px; height:165px; margin: 10px 0 10px 0;}
.sale-disabled {width: 220px;
  height: 165px;
  background-color: black;
  opacity: 0.50;
  position: absolute;}


//--------------------shopping cart---------------------//

.shopping-main {
  padding: 20px 0 0 0;
  width: 760px;
  background-color: white;
  @include border-radius($radius: 5px);
  @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));
  margin: 0;

    .cart-total {background-color: whiteSmoke;
      margin: 10px 0 0 0;
      padding: 20px;
      width: 720px;
      height: 120px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      a {color: #f07b05}
      p {color: #666666;}



    }
    div.order {height:100px;}
    ul, ul.total {list-style: none; margin: 0; padding: 0;}
    ul.total {width:300px;padding-left: 20px;
      border-left: #666666 thin solid;}

  ul.address {margin: 20px;}

    h1 {margin-left: 10px;}

    label.check-option {margin-right: 20px;
      margin-top: 10px;}
}

.cart-details {
  width: 620px;
  margin-left: 25px;
    ul {
      list-style: none;
      margin:0;
      padding: 0;}
    ul li {margin-left:10px;}

  .cart-prod-name {font-size: 14px; font-weight: bold; width: 500px;}

  .cart-specs {width: 400px;margin-bottom: 10px;}
  .cart-timer {font-size: 14px; color: red; margin-right: 10px;margin-top: 5px;}
}
.cart-img {width:80px; height: 60px; margin-left: 10px;}
.remove a, .remove a:hover {color: gray; font-size: 10px;}

.shopping-fixright  {width: 165px;}

.shopping-summary {
  padding-bottom: 10px;
  width:160px;
  background-color:#ffffff;
  margin-bottom: 20px;
    @include border-radius($radius: 5px);
    @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));

    div.gray {
      background-color: #666666; height: 20px;
      color: white;
      padding: 2px 5px 0 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    ul {list-style: none; padding: 10px; margin: 0;}
    p {margin-top: 5px;}

}

//--------------------neo footer---------------------//
#neo_footer {
  background-color: white;
  color:gray; width: 100%;
  left: 0px;
  position: absolute;
  margin-top: 20px;}

.footer-shadow {height: 1px;
  background-color: white;
  @include box-shadow($shadow: 0 2px 7px rgba(0, 0, 0, 0.5));
}

.foot-seo {
  width: 400px;
  border-right: #cccccc thin solid;
  margin: 10px;
  padding-right: 20px;
      ul{list-style: none; margin: 0;}

}

.container-footer {width:940px; margin: 0 auto;}
select.ship-address {width: 380px; height: 30px;}


.foot-links {width: 455px;
  padding-right: 20px;
  margin: 10px;

     ul{list-style: none; margin: 0 25px 0 0;}
     ul li.foot-title {margin-bottom:5px;}
     ul li a {color: gray}
     ul.inline {
       display: inline;
            img {margin-right: 5px;}
     }

}

ul.subfooter{padding-left: 5px;}
ul.subfooter li a {margin-right: 20px; color: gray;
  border-right: gray thin dashed;
  padding-right: 20px;
    &.no-border {border: none;  }
}


//--------------------purchase history---------------------//

.history-main {
  width: 740px;
  background-color: white;
  @include border-radius($radius: 5px);
  @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));
  padding: 10px 10px 20px 10px;
  margin-bottom: 20px;

    span {color: gray; font-size: 12px;}
}

//--------------------terms, privacy, info-security---------------------//
.term-main {
  width: 940px;
  background-color: white;
  @include border-radius($radius: 5px);
  @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));
  padding: 10px 20px 20px 20px;
  margin-bottom: 20px;

      ul {width: 850px;}
      span.italic {font-style: italic;}
      p {font-size: 12px;}
}

//--------------------guides---------------------//

.guides-main {
  width: 940px;
  background-color: white;
  @include border-radius($radius: 5px);
  @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));
  padding: 10px 20px 20px 20px;
  margin-bottom: 20px;


    h3 {width: 250px;margin-right: 10px;}
    .guide-title {border-right: gray thin solid;
      width: 700px;
      padding-right: 20px;}
    ul.guide-links {
      width: 180px;
      padding-left: 35px;
      margin: 0;
          a {color: #f07b05;}
          a:hover {text-decoration: none; color: gray;}
    }
    .guide-content {width:650px; padding-bottom: 10px;}
    .guide-wrap-big {
      width:650px;
          p {font-size:12px;}
          a {color: #f07b05}
          .auto {margin-bottom: 10px; margin-top:10px;}
          .auto-types {width: 500px;
            margin-left: 20px;}
    }

    .guide-wrap {
      width: 370px;
      margin-right: 10px;
      margin-bottom: 20px;
      padding-left: 10px;
      padding-top: 20px;

        a {color: #f07b05}
        span.bid {width: 200px;
          margin-top: 10px;
          margin-bottom: 30px;}
        span.type-auc {width: 300px;
          margin-left: 15px; margin-bottom: 10px;}
        .types {margin: 10px;}

    }
    .type1 {width: 190px;}
    .small {width: 230px;
      margin: 0 0 0 50px;
        ol{margin-left: 65px;}
    }
    .right {margin-right: 0; padding-top: 0}
}

//my page//

.mypage-main {
  color:#ffffff;
  width: 940px;
  background-color: white;
  @include border-radius($radius: 5px);
  @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));
  margin: 0 0 20px 0;
}

//about us//
.mission {
  width: 940px;
  height: 400px;
  background-color: #333333;
      .content {
        width: 600px;
        margin: 0 auto;
        padding-top: 70px;
            ol li {line-height: 30px;}
      }
}

//contact us//
.contact-wrap {
  width: 900px;
  margin: 0 auto;
  padding-top:20px;
    ul.contact {width: 400px;margin-left: 55px;}
    img {margin-left: 20px; margin-right:10px;}
    .contact-form {width: 600px; padding-bottom: 20px; border-right: #CCCccc thin solid;}
    .contact-tel {width: 280px;}
    .contact-icon {height: 100px;}

    .sample-prod {
      margin: 20px auto;
      width: 720px;}


}

//--------------refer a friend--------------//
.refer-main {
  width: 940px;
  background-color: white;
  @include border-radius($radius: 5px);
  @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));
  padding-bottom: 20px;
  margin-bottom: 20px;

      .refer-wrap {
        padding: 10px 20px 0 20px;
      }
      .coming-soon {width: 940px; height:400px; background-color: #333333;margin-bottom: 10px;      }
      .coming-content {text-align: center; width: 800px; margin: 0 auto; padding-top: 150px;}
      ul {margin-bottom: 50px;}
      .emails {height: 60px;}
      .unique-link {background-color: whiteSmoke;
        border-radius: 3px;
        padding: 5px;
        border: #CCC thin solid;
        margin-bottom: 10px;}

      .table th {background-color: #ffffff; color: #999999;}
}


/*
	HUNGTN
*/


/* CLEARFIX */
.clearfix_:before, .clearfix_:after { content: ""; display: table; }
.clearfix_:after { clear: both; }
.clearfix_ { zoom: 1; }

/* COLOR */
$txt-gray: #979797;
.txt-gray{color: #979797; }

/* BORDER AND RADIUS */

@mixin rounded($side, $radius: 10px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}
@mixin border_radius($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}


/* CONTAINTER */

.white_content{
  background-color: white;
  padding:26px 0;

  @include border_radius(5px);
  .content_padding{
    padding: 0 26px;
  }
  .break_line{
    background-color:lighten($txt-gray, 25%);
    height:1px;
    width:100%;
    margin:20px 0;
  }
  h1{font-weight:bold !important;}
} /* white_content */

.auto_bid{
  .left_col{
    width:104px;

    p{
      margin:0;
      text-align:center;

      &.current_label ,&.price_label{
        color:$txt-gray;
        font-size:12px;
        margin:10px 0 0;
      }
      &.current_name, &.price{
        font-weight:bold;
      }
    }
    .timming{
      text-align:center;
      font-size:22px;
      font-weight:bold;
      margin-top:15px;
    }
  } /* left_col */
  .right_col{
    width:750px;

    h3{
      border-bottom:1px solid lighten($txt-gray, 25%);
    }
    .first_table{
      margin:10px 0;
      tr{border:none;}
      th{
        text-align:center;
        label{font-size:12px; color:$txt-gray;}
      }
      td{text-align:center;font-weight:bold;
        &.edit{text-align:right;font-weight:100;}
      }
    }

    .set_bid{
      background-color:lighten($txt-gray, 35%);
      border:1px solid lighten($txt-gray, 25%);
      @include border_radius(5px);
      padding:15px 5px 0 15px;

      .seond_table{
        margin-top:10px;
        tr{border:none;}
        th{
          padding-left:10px;
          label{
            text-align:center;
            font-size:12px;}
        }
        input{
          width:100%;
        }
        td{padding-top:0;
          &.button{text-align:right; button{ margin-bottom:5px;}}
        }

      }
    } /* set_bid */
  } /* right_col */
} /* auto_bid */

/* MY TOKENS */
.token_table{
  th{
    text-align:center;
    label{font-size:12px; color:$txt-gray;}
  }
  td{
    text-align:center;
    p{font-weight:bold;font-size:12px;margin-bottom:0;}
    span{padding:0 2px; font-weight:bold;}
  }
  tr{border:none;
    &.gray_bg{background-color:lighten($txt-gray, 36%)}
  }
} /* token_table */

.gray_content{
  background-color: lighten($txt-gray, 35%);
  padding:10px;
  .total_content{margin:10px 0 0;}
  p.total{font-size:18px;font-weight:bold;margin-botto:20px;
    &.pull-left{margin-left:30px;}
    &.pull-right{margin-right:30px;}
  }
  p a{font-size:12px; margin-top:10px;}
  @include rounded(bottom-left,5px);
  @include rounded(bottom-right,5px);
}

.white_content.mytoken{padding-bottom:0;}

/* WON_AUCTION_TABLE */
.white_content.mywon{padding-top:0;padding-bottom:0;}
.white_content{
  .about-content {width: 900px;
    margin: 0 auto;}
  p {
        font-size: 12px;
        margin: 0 auto;

      }
    p.space {padding-bottom: 30px;}
  .tab{
    margin:0;
    li{
      list-style:none;
      float:left;
      width:470px;
      height:76px;
      a{
        width:470px;
        height:76px;
        font-size:32px;
        font-weight:bold;
        display:block;
        text-align:center;
        line-height:76px;
        text-decoration:none;
        background-color:lighten($txt-gray, 30%);
        color:$txt-gray;
        &.current_tab, &:hover{
          background-color:white;
          color:#000;
        }
      }

    }
  } /* tab */

  .tab2{
    margin:0;
    li{
      list-style:none;
      float:left;
      width:310px;
      height:76px;
      a{
        width:320px;
        height:76px;
        font-size:32px;
        font-weight:bold;
        display:block;
        text-align:center;
        line-height:76px;
        text-decoration:none;
        background-color:lighten($txt-gray, 30%);
        color:$txt-gray;
        &.current_tab, &:hover{
          background-color:white;
          color:#000;
        }
      }

    }
  } /* tab */

  ul.center{text-align:center;width:200px;margin:10px auto 0;
    .circle{background-color:#FFF;border:1px solid lighten($txt-gray, 10%)}
    .circle.active{border:none;}
  }
}

.won_auction_table{
  .download_ico{
    a{
      background:url(/assets/my_page/download_sprite.png) no-repeat;
      background-position:0 0;
      width:74px;
      height:54px;
      display:block;
      &:hover{background-position:0 -54px;}
    }
  }
  td{
    text-align:center;
    p{font-weight:bold;font-size:12px;margin-bottom:0;}
    span{padding:0 2px; font-weight:bold;}

    p{
      &.product_name{
        font-size:18px;
      }
      &.end_time, &.win{font-size:12px; font-weight:normal; color:lighten($txt-gray, 10%);}
      &.date{font-weight:normal; span{font-weight:normal;font-size:14px;}}
      &.win_price{color:#18a09c;}
      &.old_price{color:lighten($txt-gray, 15%); text-decoration:line-through;font-weight:100;}
    }

  }

  tr{border:none;
    height:80px;
    &.gray_bg{background-color:lighten($txt-gray, 36%)}
  }
}

//------//
/* Ticker Styling */
.ticker-wrapper.has-js {
  margin: 20px 0px 20px 0px;
  padding: 0px 20px 10px 20px;
  width: 530px;
  height: 40px;
  display: block;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 5px;
  font-size: 0.75em;
  display: table-cell; vertical-align: middle;
}
.ticker {
  width: 500px;
  height: 25px;
  display: block;
  position: relative;
  overflow: hidden;

}
.ticker-content {
  margin: 0px;
  padding-top: 5px;
  position: absolute;
  color: white;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.2em;
  left: 0 !important;
}
.ticker-content:focus {

}
.ticker-content a {
  text-decoration: none;
  color: #f07b05;
}
.ticker-content a:hover {
  text-decoration: underline;
  color: #f07b05;
}
.ticker-swipe {
  padding-top: 9px;
  position: absolute;
  top: 0px;
  display: block;
  width: 530px;
  height: 23px;
  background-color:#000;
}
.ticker-swipe span {
  margin-left: 1px;
  border-bottom: 1px solid #1F527B;
  height: 12px;
  width: 7px;
  display: block;
}
.ticker-controls {
  display:none;
  padding: 8px 0px 0px 0px;
  list-style-type: none;
  float: left;
}
.ticker-controls li {
  padding: 0px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
  height: 16px;
  width: 16px;
  display: block;
}
.ticker-controls li.jnt-play-pause {
  background-image: url('/assets/controls.png');
  background-position: 32px 16px;
}
.ticker-controls li.jnt-play-pause.over {
  background-position: 32px 32px;
}
.ticker-controls li.jnt-play-pause.down {
  background-position: 32px 0px;
}
.ticker-controls li.jnt-play-pause.paused {
  background-image: url('/assets/controls.png');
  background-position: 48px 16px;
}
.ticker-controls li.jnt-play-pause.paused.over {
  background-position: 48px 32px;
}
.ticker-controls li.jnt-play-pause.paused.down {
  background-position: 48px 0px;
}
.ticker-controls li.jnt-prev {
  background-image: url('/assets/controls.png');
  background-position: 0px 16px;
}
.ticker-controls li.jnt-prev.over {
  background-position: 0px 32px;
}
.ticker-controls li.jnt-prev.down {
  background-position: 0px 0px;
}
.ticker-controls li.jnt-next {
  background-image: url('/assets/controls.png');
  background-position: 16px 16px;
}
.ticker-controls li.jnt-next.over {
  background-position: 16px 32px;
}
.ticker-controls li.jnt-next.down {
  background-position: 16px 0px;
}
.js-hidden {
  display: none;
}
.no-js-news {
  padding: 10px 0px 0px 45px;
  color: #F8F0DB;
}
.left .ticker-swipe {
/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
  float: left;
}
.left .ticker-controls {
  padding-left: 6px;
}
.right .ticker-swipe {
/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
  float: right;
}
.right .ticker-controls {
  padding-right: 6px;
}

//tab articles//

//--------------------------------------------------------------OLD CODES [please moves your codes above this line]--------------------------------------------------------------//

//old shop//

.shop-main {width: 950px; margin: 0 auto; margin-bottom: 20px;}
.shop-products {
  float: left;
  margin-left: 45px;
  width: 180px;
  padding-top: 10px;

  a {color:#333333; font-weight: bold; font-size: 14px; line-height: 10px;}
}

//.shop-img {border: gray thin solid; margin-bottom: 10px; width: 180px; height: 135px;}

.shop-prev {
  padding: 15px 0 5px 0;
  width:1020px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0,0,0,.25);
  -moz-box-shadow: 0 4px 4px -2px rgba(0,0,0,.25);
  box-shadow: 0 4px 4px -2px rgba(0,0,0,.25);}


div.product-specs {padding: 0;float:left; margin-bottom:20px;}
div.product-specs .control-group  .controls {
  padding: 0;
  margin-right: 15px;
}
div.flashmain .product-price-row .product-specs .control-group {
  float: left;
  padding: 0;
  margin: 0;}

div.product-cta {float: right; margin-bottom:20px;}
.google-contact-list{
  height: 200px;
  overflow-y: scroll;
}
.full-width{
  width: 100%;
  th{
    text-align: left;
  }
}
.black_label{
  font-size: 11px; color: #333;
}

.account-basic-information{
  //width: 500px;
  dt{
    width: 30%;
    vertical-align: top;
  }
  dd{
    width: 350px;
  }
  margin-left: 30px;
}

//token purchase//

#token_packs {
  border-top: gray thin dashed;
  border-bottom: gray thin dashed;
  margin: 10px 0 0 0;
  padding: 10px 0 30px 40px;
}

.table-tokens thead {background-color: #ffffff;}

.tok-ch {width:20px;}
.tok-pack {width:130px;}
.tok-price {width:100px;}

label.radio.tokens {margin-bottom: 20px;}
.tp {color: #f07b05; font-size: 16px;line-height: 20px;}
.tprice {color: #333333; font-size: 16px;line-height: 20px;}

#token_confirm {
  border-top: gray thin dashed;
  border-bottom: gray thin dashed;
  margin: 10px 0 20px 0;
  padding: 20px 0 10px 0;
}



//flashsale//
.page-head {
  @include page-header-with-dashed($fontSize: 24px);
  padding-bottom: 20px;
}
div.flashmain {
  width: 950px;
  margin-bottom:20px;
  //margin-left: 25px;
    .flashmain-left {float: left; padding: 0; width: 445px;}
    .flashmain-right {float: left; padding: 0;  width: 445px;}
    .flash-img {float:left; margin:0 0px 20px 0;}
    span.strikethrough {text-decoration:line-through;}

  .product-price-row {
    border-top: #f07b05 1px dashed;
    padding: 10px 10px 0 10px;

      .price-left {float: left;}
      .sm-icons {float: right;}
      .control-group{float: right; padding-top: 3px; margin-left: 10px;}
      .control-label{float: left; margin-right: 5px;}
      .controls {float: left; padding-right: 40px;}
      .controls input {display: inline-block;
        width: auto;
        line-height: inherit;}

  }
  .product-description-row {
    padding: 20px 10px 10px 10px;
  }
  .product-shipping {
    padding: 10px;
  }
}

.flash-img{
  background-color: #f5f5f5;
  background-image: url("/assets/flashcontainer.jpg") ;
  z-index: 1;
  border: thin solid black;
  width: 440px;
  height: 330px;
  display: block;
  @include box-shadow($shadow: 0 1px 5px rgba(0,0,0,.25));

      div.flash-bar {height: 70px; width: 440px; margin: 0; padding: 0;
        background: black;
        background-color:rgba(0, 0, 0, 0.7)}

      div.flash-bar-comp {height: 50px; width: 440px; margin: 0; padding: 0;
        background:black;
        background-color: rgba(0, 0, 0, 0.7)}

      div.flash-bar-desc {
        padding: 2px 5px 2px 5px;
        color:white;
        height: 50px;
        width: 430px;
        background: #F07B05;
        background-color:rgba(240, 123, 5, 0.7);
        position: relative;
        top: 226px;
      }

      div.fl-pr-name {float: left; height: 40px; width:240px; padding: 5px 0 0 10px;}
        span.flash-name {
          font-size: 16px;
          color:white;
      }

      div.fl-tmr {
        line-height: 25px;
        float: right;
        width:170px;
        padding: 10px 10px 0 0;
      }

      div.product-image {text-align: center;}
      div.flash-time {font-size:14px; color:#f07b05; border: red thin solid;}
      .fl-time2 {font-size: 14px;}
      div.flash-bar-desc {display:none;bottom:0px}
}
div.flashmain .flash-img:nth-child(odd) {
  margin:0 60px 20px 0 !important;
}
.ie8 .flash-img { margin: 0 33px 20px 0 !important; }
.flashbar-left {
  float: left;
  width: 240px;
  padding: 5px 0 0 5px;
}

.flash-prod{
  height: 40px;
  font-size: 16px;
  color:white;
}

.flash-timer {
  font-size: 14px;
  color:#F07B05;
}

.flashbar-rgt {
  line-height: 25px;
  float: right;
  width:170px;
  padding: 10px 10px 0 0;
  span.flash-login-msg {
    text-align: right;
    float: right;
    color:red;
    font-size: 12pt;
    line-height: 45px;
    font-style: italic;
  }

  span.flashbar-rgt-price {float: right; font-size: 30px; color: #f07b05;}
  span.flashbar-rgt-rp {text-decoration: line-through; color: #cccccc; float: right;font-size:14px;}
}

//checkout//
.checkout-process {margin-bottom: 20px;}
.billing-add {
  color: #f9f9f9;
  margin: 20px 0;
  background-color: #f5f5f5;
margin: 0;
  paaing:0;
}
.billing-title {float:left; font-size:18px; color: #333; padding:0 0 0 10px;}
.form-horizontal .control-group {margin-bottom: 10px;}
.form-horizontal .control-label {
  float: left;
  width: 100px;
  padding-top: 5px;
  text-align: right;
  color: gray;
}
.form-horizontal .controls {margin-left: 120px;}
.input-xxlarge {width: 430px;}

.input-prepend .add-on, .input-append .add-on {height:14px; line-height: 14px;}
.form-actions-checkout {margin-left: 120px;}

.check-wrap{
  margin-bottom: 10px;
  padding:10px 0;
  border-top: gray thin dotted;
  float: left;
  width: 615px;
}
.check-img-s{float:left;}
.check-name {margin:10px 0 0 20px;width:350px; float: left; font-size: 14px;}
.check-qty {margin:10px 0 0 10px; float: left; font-size: 14px;}
.check-price {margin:10px 0 0 30px; float: left; font-size: 18px;color:$soldOrange;}


// temporary fix for home page
.product-image {
    height : 135px;
    width : 180px;

    img{
       max-width: 100%;
       max-height: 100%;
    }
  }



//account information//

#info-left {
  float: left;
  text-align: right;
  width: 180px;
  list-style: none;
  font-size: 14px;
  font-weight:200;
  color: gray;

}

#info-right {
  float: left;
  margin-left: 10px;
  list-style: none;
  font-size: 14px;
  border-left: gray thin dotted;
  padding-left: 5px;
}

ul#info-left li{line-height: 24px;}
ul#info-right li{line-height: 24px;}

p.det-note{margin-left: 125px; font-size: 11px; color: gray; font-style: italic;}

.control-label-accnt-info {
  margin-right: 10px;
  float: left;
  width: 200px;
  padding-top: 5px;
  text-align: right;
  color: gray;}

.form-horizontal .control-group {
  margin-bottom: 5px;
}

.form-actions-details {margin-left: 210px;}


//Bid History
table#history td {font-size: 0.8em !important;}

//contact us//
.contact-main {width: 920px; border-bottom: gray thin dashed; padding: 0 0 20px 0; margin-bottom: 20px;}
.contact-copy {color: #333333; font-weight: normal;}
.contact-copy-sub {color: #333333; font-weight: normal;}

.email-us {width:500px; border-right: gray thin dashed; float: left; padding: 0 20px 0 0;}
.email-img {float: left; width: 50px; margin-right: 10px;}
.email-head {float: left; width:420px; margin-bottom: 15px;}

select#select-inq {
  display: inline-block;
  width: 215px;
  padding: 5px 20px 3px 10px;
  line-height: inherit;
}

.form-horizontal.contact {padding-left:60px;}
textarea#textarea_contact.input-xlarge {width: 210px;height: 100px;}
input.btn.btn-mini.btn-warning.contact {margin:10px 0 0 120px;}

.call-us{float:right; width:350px;}
.call-img {float:left;margin-right: 10px;}
.call-head {float:left;margin-bottom: 15px;}

.find-img {float: left;margin-right: 10px;}
.find-head {float:left;margin-bottom: 10px;}

//about us//
.about-left{float:left;width:590px;margin-right: 10px;}
.about-rgt{float:right; width: 310px;}

.comp-info {
  background-color: #f5f5f5; padding: 10px 10px 20px 10px;
  border: gray thin solid;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
#founders {width: 920px; padding: 0 0 20px 0; margin-bottom: 20px;}
.founder {margin-bottom: 10px;}
.founder-portrait {float: left;}
.founder-bio {float:left; width:450px; margin-left: 10px;}


//ribbon//
.RibbonWrap {
  position: relative;
  left: -10px;

}
.Ribbon {
  background-color: #f07b05;
  color: white;
  font-size: 18px;
  height: 32px;
  line-height: 32px;
  position: relative;
  padding: 0 .7em;
  z-index: 5;
  font-weight: bold;
  -moz-box-shadow: 3px 3px 1px rgba(0,0,0,.15);
  -webkit-box-shadow: 3px 3px 1px rgba(0,0,0,.15);
  -box-shadow: 3px 3px 1px rgba(0,0,0,.15);
  width: 100px;
}
.triangle {
  border-width: 5px;
  border-color: #DD0017 #DD0017 transparent transparent;
  border-style: solid;
  position: absolute;
  z-index: 4;
  bottom: -10px;
  left: 0;
  height: 0;
  width: 0;
}

.RibbonWrap-shop {
  position: relative;
  top: -150px;
  left: -10px;

}
.Ribbon-shop {
  background-color: #f07b05;
  color: white;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  position: relative;
  padding: 0 .7em;
  z-index: 5;
  -moz-box-shadow: 3px 3px 1px rgba(0,0,0,.15);
  -webkit-box-shadow: 3px 3px 1px rgba(0,0,0,.15);
  -box-shadow: 3px 3px 1px rgba(0,0,0,.15);
  width: 95px;
}
.triangle-shop {
  border-width: 5px;
  border-color: #DD0017 #DD0017 transparent transparent;
  border-style: solid;
  position: absolute;
  z-index: 4;
  bottom: -10px;
  left: 0;
  height: 0;
  width: 0;
}

//testimonials//

#win-gallery{
  float: left;
  width: 470px;
  margin-right: 10px;
}
#win-form {
  float:left;
  width:450px;
}
.win-img {
  float:left;
  margin:0 0 20px 20px;
  width:200px;
  height:150px;
  border: gray thin solid;
}
.form-horizontal.testimonial {
  margin: 20px 0 10px 0;
  padding: 20px 0 20px 0;
  border-top: gray thin dashed;
  border-bottom: gray thin dashed;
}

.test-img {
  width:380px;
  height:285px;
  float:left;
}
.test-copy {
  width:350px;
  float:left;
  margin: 20px 0 10px 20px;
  border-bottom: gray thin dashed;
  padding-bottom: 10px;
  font-style: italic;
}
.test-copy-win {
  width:350px;
  float:left;
  margin-left: 20px;
}
.modal.testimonial {
  position: fixed;
  top: 50%;
  left: 43%;
  z-index: 1050;
  width: 800px;
  margin: -250px 0 0 -280px;
  overflow: auto;
  background-color: white;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
.test-prod{
  float:left;
  width: 250px;
  padding-top: 10px;
}
.test-prod-img{
  float:left;
  width: 100px;
}

//refer a friend table//
.table.refer {width: 450px; margin-top:20px;}
.table.refer td {text-align: center;}


//ethics and commitment//
#ethics {
  background: url(http://sold.sg.mktg.s3.amazonaws.com/ethicsbg.jpg) no-repeat top center;
  width: 950px;
  height: 1000px;
  margin-top:20px;
  padding-top: 180px
}

.commitment {
  width: 800px;
  margin: 0 auto;
}
.comm-content {margin: 0 0 20px;}
.comm-big {font-size: 16px; font-weight: bold;}


//must-know//
.rules {font-size: 14px;}
