#footer{
    width: 100%;
    background: $black;
    color: $white;
    @include box-shadow(0 0 5px #888);
    font-size: $footer_normal_text_font_size;
    margin: 0 auto;
    & > .divider {
      height: 1px;
      margin: 15px 20px;
      overflow: hidden;
      border-bottom: 1px dashed $grayLight;
    }
    #google_seo li{
      padding: 3px 0;
      line-height: 16px;
    }
    #footer_links{
        .nav > li > a {line-height: 16px;}
        .nav > li > a:hover{
              background-color: transparent;
              color: $linkColorHover;
              line-height: 16px;
         }
    }
    #copyright{
      text-align: center;
    }

}

footer#footer {border-top: 5px solid #F07B05;}