body {
  margin: 0 auto;
  width: $pageWith;
  font-family: $ff_base;
  color: $body_text_color;
  line-height: 18px;
  font-size: $base_font_size;
  background-color: $layout_background_color;
}

#wrapper {
  margin-top: 10px;
}

.logo {
  width: 222px;
  height: 70px;
  border: 0;
  margin-left: 9px;
}

h1.page_header {
  @include page-header-with-dashed(24px);
}

.greeting-message {
  h3 {
    font-size: $sectionHeadFontSize;
    color: $textColor;
  }
}

.two-column-input-groups {
  margin: 0;
  padding: 0;
  .column-input {
    width: 48%;
    input {
      width: 100%;
    }
    &.left-input {
      float: left;
    }
    &.right-input {
      float: right;
    }
  }
}

p.input-error {
  margin: 0;
  color: $red;
  font-style: italic;
  font-size: 11px;
}

p.input-hint {
  margin: 0;
  color: $grayDark;
  font-style: italic;
  font-size: 11px;
}

.no-lbl-inputs .no-label select {
  height: 30px;
  font-size: 13px;
  padding-left: 0;
  margin-left: 0;
  &#user_gender {
    width: 444px;
  }
  &.date {
    width: 146px;
  }
}
.cancel-join-auction{
  color: $grayLight;
  font-size: 11px;
  font-style: italic;
}

.sms-validation{
  width: 470px;
}
