@mixin menu-item($imageName, $hoverImageName){
  background: image-url($imageName) no-repeat center 0;

  &:hover, &.active {
    background: image-url($hoverImageName) no-repeat center 0;
    &.white-active.open {
      border-radius: 2px;
      width: 30px;
      height: 30px;
    }
    //&.white-active a {padding-top:28px;}
    //background-position-y: 5px;

    a, & > a:hover {
      //* color: $linkColorHover !important;    //
      background: transparent;


    }
  }
  &.dropdown.open .white-active{
    background: image-url($hoverImageName) no-repeat center 0 #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-image: url("/assets/cart1_select.png");
    padding-right: 20px;
    padding-left: 15px;
  }
}

@mixin top-bottom-border($borderStyle: 1px dashed $grayDark){
  border-top: $borderStyle;
  border-bottom: $borderStyle;
}

@mixin page-header-with-dashed($fontSize: 24px){
  color: $textColor;
  font-size: $fontSize;
  .lighterText {
    color: $soldOrange;
  }
  span.dashed {
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: normal;
    color: $dashedBorder;
    padding-left: 20px;
    vertical-align: top;
  }
}



.navbar .menu-cover li.home a:hover, .navbar .menu-cover li.home.active > a{
  background: url(/assets/header_auction2.png) #f07b05 no-repeat 10px 10px;
  height: 24px;
  color: white;
  -moz-box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
  box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
}

.navbar .menu-cover li.shop a:hover, .navbar .menu-cover li.shop.active > a{
  background: url(/assets/header_shop2.png) #416df1 no-repeat 10px 10px;
  height: 24px;
  color: white;
  -moz-box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
  box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
}

.navbar .menu-cover li.sale a:hover, .navbar .menu-cover li.sale.active > a{
  background: url(/assets/header_sale2.png) #ff3300 no-repeat 10px 10px;
  height: 24px;
  color: white;
  -moz-box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
  box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
}


