$s3_url: "https://s3-ap-southeast-1.amazonaws.com/gamers.ph.bckt/spree_sold_theme/";

@mixin menu-item($imageName, $hoverImageName){
  background: image-url($imageName) no-repeat center 0;

  &:hover, &.active {
    background: image-url($hoverImageName) no-repeat center 0;
    &.white-active.open {
      border-radius: 2px;
      width: 30px;
      height: 30px;
    }
    //&.white-active a {padding-top:28px;}
    //background-position-y: 5px;

    a, & > a:hover {
      //* color: $linkColorHover !important;    //
      background: transparent;


    }
  }
  &.dropdown.open .white-active{
    background: image-url($hoverImageName) no-repeat center 0 #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-image: url($s3_url + "/cart1_select.png");
    padding-right: 20px;
    padding-left: 15px;
  }
}

@mixin top-bottom-border($borderStyle: 1px dashed $grayDark){
  border-top: $borderStyle;
  border-bottom: $borderStyle;
}

@mixin page-header-with-dashed($fontSize: 24px){
  color: $textColor;
  font-size: $fontSize;
  .lighterText {
    color: $soldOrange;
  }
  span.dashed {
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: normal;
    color: $dashedBorder;
    padding-left: 20px;
    vertical-align: top;
  }
}



.navbar .menu-cover li.home a:hover, .navbar .menu-cover li.home.active > a{
  background: url($s3_url + "ph/header-auc.png") no-repeat 6px 21px, -moz-linear-gradient(top, #fffd37 0%, #884f00 54%, #dfa600 100%); /* FF3.6+ */
  background: url($s3_url + "ph/header-auc.png") no-repeat 6px 21px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffd37), color-stop(54%,#884f00), color-stop(100%,#dfa600)); /* Chrome,Safari4+ */
  background: url($s3_url + "ph/header-auc.png") no-repeat 6px 21px, -webkit-linear-gradient(top, #fffd37 0%,#884f00 54%,#dfa600 100%); /* Chrome10+,Safari5.1+ */
  background: url($s3_url + "ph/header-auc.png") no-repeat 6px 21px, -ms-linear-gradient(top, #fffd37 0%,#884f00 54%,#dfa600 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffd37', endColorstr='#dfa600',GradientType=0 ); /* IE6-9 */
  height: 29px;
  color: white;
}

.navbar .menu-cover li.shop a:hover, .navbar .menu-cover li.shop.active > a{
  background: url($s3_url + "ph/header-shop.png") no-repeat 10px 20px, linear-gradient(to bottom, #39b1ff 0%,#000990 54%,#0058df 100%); /* W3C */
  background: url($s3_url + "ph/header-shop.png") no-repeat 10px 20px, -moz-linear-gradient(top, #39b1ff 0%, #000990 54%, #0058df 100%); /* FF3.6+ */
  background: url($s3_url + "ph/header-shop.png") no-repeat 10px 20px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#39b1ff), color-stop(54%,#000990), color-stop(100%,#0058df)); /* Chrome,Safari4+ */
  background: url($s3_url + "ph/header-shop.png") no-repeat 10px 20px, -webkit-linear-gradient(top, #39b1ff 0%,#000990 54%,#0058df 100%); /* Chrome10+,Safari5.1+ */
  background: url($s3_url + "ph/header-shop.png") no-repeat 10px 20px,  -ms-linear-gradient(top, #39b1ff 0%,#000990 54%,#0058df 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39b1ff', endColorstr='#0058df',GradientType=0 ); /* IE6-9 */
  height: 29px;
  color: white;
}

.navbar .menu-cover li.sale a:hover, .navbar .menu-cover li.sale.active > a{
  background: url($s3_url + "ph/header-sale.png") no-repeat 9px 20px, linear-gradient(to bottom, #fc3a3a 0%,#770900 54%,#d62700 100%); /* W3C */
  background: url($s3_url + "ph/header-sale.png") no-repeat 9px 20px, -moz-linear-gradient(top, #fc3a3a 0%, #770900 54%, #d62700 100%); /* FF3.6+ */
  background: url($s3_url + "ph/header-sale.png") no-repeat 9px 20px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc3a3a), color-stop(54%,#770900), color-stop(100%,#d62700)); /* Chrome,Safari4+ */
  background: url($s3_url + "ph/header-sale.png") no-repeat 9px 20px, -webkit-linear-gradient(top, #fc3a3a 0%,#770900 54%,#d62700 100%); /* Chrome10+,Safari5.1+ */
  background: url($s3_url + "ph/header-sale.png") no-repeat 9px 20px, -ms-linear-gradient(top, #fc3a3a 0%,#770900 54%,#d62700 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc3a3a', endColorstr='#d62700',GradientType=0 ); /* IE6-9 */
  height: 29px;
  color: white;
}