#sold_top_navbar{

    //border-bottom: 3px solid #f07b05;
    width: 940px; //$pageWith;

   //margin-bottom: 20px;
   .navbar-inner{
     @include border-radius(0);
     padding:0;
     margin: 0;
     height:83px;
     width: 940px;
     @include box-shadow($shadow: 0 4px 8px rgba(0,0,0,.25));
   }
    //box-shadow: 0 0 5px #888888;
}


.navbar .menu-cover{
    margin-top: 0;
    margin-left: 2px;
    & > li > a {
       font-size: 14px;
    }

    li.nav-divider {
      width: 1px;
      border-right: #555555 thin dotted;
      height: 30px;
      margin-top: 10px;
    }

    li.home {
      background: url(/assets/header_auction1.png) no-repeat 10px 10px;
      width: 110px;
        a {
          color: #cccccc;
          text-align: right;
          padding-top: 15px;
          height: 22px
        }
        a:hover, a:active {
          background: url(/assets/header_auction2.png) #f07b05 no-repeat 10px 10px;
          height: 24px;
          color: white;
          -moz-box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
          -webkit-box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
          box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);

        }
    }

    li.shop{
      background: url(/assets/header_shop1.png) no-repeat 10px 10px;
      width: 110px;
      a {
        color: #cccccc;
        text-align: right;
        padding-top: 15px;
        height: 22px
      }
      a:hover, a:active {
        background: url(/assets/header_shop2.png) #416df1 no-repeat 10px 10px;
        height: 24px;
        color: white;
        -moz-box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
        -webkit-box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
        box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);

      }
    }
    li.sale{
      background: url(/assets/header_sale1.png) no-repeat 10px 10px;
      width: 110px;
      a {
        color: #cccccc;
        text-align: right;
        padding-top: 15px;
        height: 22px
      }
      a:hover, a:active {
        background: url(/assets/header_sale2.png) #ff3300 no-repeat 10px 10px;
        height: 24px;
        color: white;
        -moz-box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
        -webkit-box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);
        box-shadow:inset 0px 0px 10px 1px rgba(51, 51, 51, 0.5);

      }
    }

    li.dropdown.myaccnt {
      position: relative;
      height: 48px;
      background: url(/assets/user.png) no-repeat 10px center;
      p {margin-left: 30px; margin-top: 7px}
      a.dropdown-toggle.username {height: 29px; }
      a.dropdown-toggle.username:hover, a.dropdown-toggle.username:active {background: url(/assets/user.png) #333333  no-repeat 10px 13px; }
    }
    li.dropdown.myaccnt.open {
      a.dropdown-toggle.username {background: url(/assets/user.png) #333333  no-repeat 10px 13px;}

    }

    li.reg {
      a.signup {
        height: 48px;
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px;
        color: #f07b05;
      }
      a.signup:hover {color: whitesmoke}
    }

    li.mylogin {
      a.userlogin {
        height: 50px;
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px;
      }
      a.userlogin:hover{color: #333333;
        background-color: #ffffff;
      }

    }
    li.dropdown.mylogin.open {
      a.dropdown-toggle.userlogin{color: #333333;
      background-color: #ffffff;
      }
    }

    li.cart{
      background: url(/assets/icon-cart-0.png) no-repeat center 10px;
      width: 70px;
      height: 48px;
      position: relative;

      a.mini-cart {
        padding: 0;
        height: 48px;
      }
      a.dropdown-toggle.mini-cart:hover, a.dropdown-toggle.mini-cart:hover:active {background: url(/assets/icon-cart-0.png)  #ffffff no-repeat center 10px; height: 50px}
      .badge-cart {
        position: absolute;
        top: 3px;
        right: 0;
        border-radius: 55%;
        width: 20px;
        height: 20px;
        background-color: #f07b05;
        color: white;
        text-align: center;
        padding: 2px 0 0 0;
      }
      .full-cart {
        margin-bottom: 10px;
        .small-cart {
          border-bottom: #CCCCCC thin dashed;
          padding: 5px 0;
          margin-bottom: 10px;
          a {padding: 0}
          img {
            width: 80px;
            height: 60px;
            margin: 0;
            padding: 0
          }
          .cart-preview-detail {
            font-size: 12px;
            margin: 0 0 0 10px;
            padding: 0;
            width: 184px;
            li { margin-bottom: 3px;white-space: normal;}
            li.cart-preview-prod-name {font-weight: bold;line-height: 15px;}
            li p {
              background: #fbcf28;
              color: black;
              text-align: center;
              font-size: 12px;
              height: 30px;
              padding: 0 15px;
              display: table-cell;
              vertical-align: middle;
            }
          }
        }

      }
      .items {color: #999999; font-size: 10px;margin-bottom: 10px;}
      .sub, .total {margin-bottom: 10px;}
      .ship {
        padding: 5px;
        text-align: center;
        color: #f07b05;
        border: #ededed 3px solid;
        margin: 5px 0;
      }
      .btn-scart {
        .btn-viewcart{
          background-color: hsl(34, 100%, 43%) !important;
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fea42d", endColorstr="#db7c00");
          background-image: -khtml-gradient(linear, left top, left bottom, from(#fea42d), to(#db7c00));
          background-image: -moz-linear-gradient(top, #fea42d, #db7c00);
          background-image: -ms-linear-gradient(top, #fea42d, #db7c00);
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fea42d), color-stop(100%, #db7c00));
          background-image: -webkit-linear-gradient(top, #fea42d, #db7c00);
          background-image: -o-linear-gradient(top, #fea42d, #db7c00);
          background-image: linear-gradient(#fea42d, #db7c00);
          border-color: #db7c00 #db7c00 hsl(34, 100%, 39%);
          color: #ffffff !important;
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.26);
          -webkit-font-smoothing: antialiased;
          font-size: 14px;
          font-weight: 500;
          padding: 5px 0;
          width: 275px;
        }
      }
    }
    li.cart.dropdown.cart.open {background: url(/assets/icon-cart-0.png)  #ffffff no-repeat center 10px;height: 50px}


}

#account_db{
    vertical-align: middle;
    padding: 8px 0 0 0;
    margin-left:10px;

    & > a{
        color: #999;

        &:hover {
          color: $white;
          text-decoration: underline;
        }
    }


}


.nav-wrap{
  position: absolute;
  //z-index: 10000;
}



.nav.menu-cover.pull-right.cta {
  margin: 12px 0 0 0;
  min-width: 350px;
}

.fb-main {
  width: 210px;
  margin: 5px 0 0 0;}

//login//
.btn-group.open .dropdown-toggle {
  background: white;}

.badge-cred {
  position: absolute;
  top: 3px;
  left: 20px;
  padding: 2px 5px 0px 5px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 13px;
  background-color: #33CC00;
  color: $white;
  font-size: 13px;
  font-weight: bold;
  border: white 2px solid;
}

ul.dropdown-menu.login{width: 280px;
  padding: 10px 10px;}



ul.reg-cta {list-style: none;margin: 0 0 0 20px;}


// fb button //
li.fb-login{
  padding: 0;
  margin: 0;
  width: 145px;}

li.fb-login a{
  padding: 0;
  margin: 0;height: 25px;}

li.fb-login a:hover{
  padding: 0;
  margin: 0;
  color: transparent;
  border-radius: 8px;
  height: 25px;
}

//* guest navigation //

ul.nav.menu-cover.pull-right{
  vertical-align: middle;
}


.guestnav-check  {
  color: #dcdcdc;
  font-size: 11px;
  font-weight: normal;

}

.guestnav-forget {
  color: $soldOrange;
  font-size: 11px;
  font-weight: normal;
  padding-left: 63px;
}

input.input-medium {margin-top: 5px;
  height: 15px;
  margin-bottom: 0;
}

//* guest login //

a.btn.btn-guestlogin.btn-mini {
  background-image: -webkit-linear-gradient(top, #F07B05, #e65e1e);
  color: $white;
  text-shadow: 0 0px 0px;
  border: #F07B05;
  background-color: #000;
  margin-top: 5px;
}

a.btn.btn-guestlogin.btn-mini:hover {
  background-image: -webkit-linear-gradient(top, #F07B05, #e65e1e);
  color: $white;
  background-color: #ed1c24;
}

label.checkbox {padding: 2px 0 0 20px;}

input[type="checkbox"]{margin: 3px 0;}

input, textarea, select, .uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 5px;
  font-size: 12px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.notification-top{
  width: 940px; margin: 20px auto;
}

//shop and sale badge//
.badge-shop {
  position: absolute;
  top: 10px;
  left: 130px;
  border-radius: 50%;
  width: 35px;
  height: 17px;
  background-color: red;
  color: white;
  font-size: 10px;
  text-align: center;
}
.badge-sale {
  position: absolute;
  top: 10px;
  left: 220px;
  border-radius: 50%;
  width: 35px;
  height: 17px;
  background-color: red;
  color: white;
  font-size: 10px;
  text-align: center;
}