#sold_top_navbar{
    border-bottom: 2px solid  $logoOrange;
    width: $pageWith;
    margin: 0 auto;
}
.navbar .menu-cover{
    margin-top: 5px;
    & > li > a {
        padding: 10px 10px 3px;
    }
    li.live-auction{
      @include menu-item('auctions_icon.png', 'auctions_icon_hover.png');
    }
    li.sale{
       @include menu-item('sale_icon.png', 'sale_icon_hover.png');
    }
    li.friend{
     @include menu-item('friend_icon.png', 'friend_icon_hover.png');
    }
    li.help{
     @include menu-item('help_icon.png', 'help_icon_hover.png');
    }
    li.cart{
     @include menu-item('cart_icon.png', 'cart_icon_hover.png');
    }

    li.amount-menu-item{
      padding: 0;
      & > a {
        color: $white;
        position: relative;
        height: 47px;
        width: 40px;
        display: block;
        & > span{
          text-align: center;
          position: absolute;
          width: 100%;
          &.amount{ font-weight: 600; font-size: 18px; top: 0;}
          &.menu-label{ top: 22px; font-size: 11px;}
        }
      }
    }
}
#account_db{
    $linkColorHover: #000;
    background: $logoOrange;
    vertical-align: baseline;
    height:51px;
    & > a{
        color: $black;
    }
}