//a:hover{ color: $linkColorHover;}
//a:hover { color: $linkColorHover !important; }

a {
  color: #333;
  text-decoration: none;
  &.on-dark-background {
    color: $linkOnDarkBg;
  }
}

.nav-list .nav-header {
  font-size: $main_navigation_header_font_size;
  color: $default_header_color;
}

.nav-list > li > a, .nav-list .nav-header {
  text-shadow: none;
  &.no-upper-case {
    text-transform: none;
  }
}

#registration_form.form-horizontal {
  label.control-label {
    color: $labelColor;
  }
}

.controls{
  select{
    display: inline-block;
    width:  auto;
    padding: 5px 20px 3px 10px;
    line-height: inherit;
  }
}
