<% if current_user %>
    <% if current_user.has_role?("auction_user") || current_user.has_role?("admin")   %>
        <!--toolbar for registered users -->
        <div class="toolbar">
          <ul class="toolbar-reg">
            <li class="tb-mypage"><a href="#" class="mypage">MY PAGE</a></li>
            <li class="toolbar-notif">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Suspendisse turpis risus, consequat ac venenatis a, tincidunt non eros.</li>
            <li class="tb-myauctions"><span class="txt-24" id="user_ea"></span> <br>AUCTIONS</li>
            <li class="tb-mytokens"><span class="txt-24" id="user_coin"></span><br>TOKENS</li>
            <li class="tb-topup"><%= link_to "TOKENS", purchase_tokens_url(:subdomain => false), :class => "mytop txt-white" %> </li>
            <li class="tb-tips"><a href="#" class="mytip txt-white">TIPS & TRICKS</a></li>
          </ul>
        </div>
    <% else %>
        <!--toolbar for unregistered users-->
        <div class="toolbar">
          <span class="txt-18 txt-white auc-welcome"> Welcome to Sold.sg auctions! Additional information is required for participation. <a class="dark-link" data-toggle="modal" href="#myAuctions">Click here to start!</a></span>
          <div id="myAuctions" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
              <p class="close" data-dismiss="modal">×</p>
              <h2>Join Sold.sg auctions!</h2>
              <span>In order enjoy our exciting auctions, we will require you to continue with the registration proccess.</span>
            </div>
            <div class="modal-body">
              <form>
                <ul class="no-list">
                  <li><input type="text" class="span10" placeholder="NICKNAME (3 to 15 characters only)"></li>
                  <li>
                    <div class="form-inline">
                      <input type="text" class="span5 field-space" placeholder="EMAIL">
                      <input type="password" class="span5" placeholder="PASSWORD">
                    </div>
                  </li>
                  <li><input type="text" class="span10" placeholder="ADDRESS FIELD 1"></li>
                  <li><input type="text" class="span10" placeholder="ADDRESS FIELD 2"></li>
                  <li>
                    <div class="form-inline">
                      <input type="text" class="span5 field-space" placeholder="POSTAL CODE">
                      <input type="text" class="span5" placeholder="MOBILE NUMBER">
                    </div>
                  </li>
                  <li>
                    <select id="GENDER" class="span10" style="height: 30px; color: gray;">
                      <option>GENDER</option>
                      <option>MALE</option>
                      <option>FEMALE</option>
                    </select>
                  </li>
                  <li>
                    <div class="form-inline">
                      <input type="text" class="span3 field-space" placeholder="DAY">
                      <select id="BMONTH" style="height: 30px; color: gray;" class="span3 field-space">
                        <option>MONTH</option>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                      </select>
                      <input type="password" class="span4" placeholder="YEAR">
                    </div>
                  </li>
                </ul>
              </form>
              <div class="impt-reminder">
                <strong>IMPORTANT REMINDER: </strong>
            <span>Each bid requires one Token. (One Token = SGD 0.75).
            Tokens are not refundable.
            Tokens used are not returned regardless of the outcome of the auction.  </span>
              </div>
            </div>
            <hr>
            <div class="modal-footer pull-left">

              <!--validation sms-->
              <!--
              <div id="myValidation" class="modal hide fade in" style="display: block; ">
                <p class="close" data-dismiss="modal">×<p>
                <div class="modal-body">
                  <img src="/assets/validation-img.jpg" alt="">
                  <div>
                  <h2>You're almost done!</h2>
                    Thank you very much for becoming a member.
                    We have sent you a SMS to validate your phone number. Please check your phone.
                    <br /><br />
                    <input type="text" class="span5"> <a href="#" class="btn val-sms">VALIDATE SMS</a>
                    <br /><br />
                    Click <a href="#">here</a> to resend activation code if you have not received any confirmation in the last 10 minutes.
                  </div>
                </div>
              </div>
              -->

              <a href="#" class="btn btn-primary">SIGN ME UP</a>
            </div>
          </div>
        </div>
    <% end %>
<% end %>