<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <% Spree::Banner.all.each_with_index do |banner, index| %>
        <div class="item <%='active' if index==0%>">
          <a href="<%= banner.url %>">
            <img src="<%= banner.image.url(:original) %>" alt="">
          </a>
        </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

</div>