<div id="myCarousel">
  <a id="banner-link" href="http://sold.sg/zero-risk-help">
    <%= image_tag s3_url("banners/banner1.jpg"), :class => "front-banner"%>
  </a>
</div>

<%= javascript_tag do -%>
  var ad_counter = { "ad": 0 };
  function rotate()
  {
    var images = new Array ("<%= s3_url("banners/banner1.jpg") %>", "<%= s3_url("banners/banner2.jpg") %>");
    var links = new Array ("http://shop.staging.sold.ph/products/grand-theft-auto-5-pre-order", "http://auctions.staging.sold.ph/i/nba-global-games-bundle/13#/autobidder/new");
    ad_counter.ad++;
    if (ad_counter.ad == images.length)
    {
      ad_counter.ad = 0;
    }
    $("#banner-link img").attr("src", images[ad_counter.ad]);
    $("#banner-link").attr("href", links[ad_counter.ad]);
    setTimeout(rotate, 8000);
  }
  rotate();
<% end -%>