<div id='footer' class="container">

  <div id='google_seo'>
    <h4>Singapore’s Best Online Entertainment Shopping</h4>
    <ul class="unstyled">
      <li>Sold.sg is a premium online entertainment shopping website that offers you the latest, brand new products
        and
        services! A great variety of deals are put up for sale daily. These deals include PS3, iPads, iPhones, Wii,
        digital
        cameras, tv sets, airline tickets to popular destinations, hotel and spa vouchers and many more at amazing
        sale
        prices!
      </li>

      <li>How does it work? You start by purchasing Tokens from our site and each Token costs S$0.75. Choose your
        desired
        item and use your Tokens to bid. Each bid uses 1 Token and are not refundable. Every time you bid, the bid
        price
        increases by S$0.01, S$0.05 or S$0.15 while the auction time increases by 20 seconds. Wait no more and
        starting
        bidding now!
      </li>

      <li>Sounds tough? Bidding on our site isn’t all that complicated once you get the hang of it. Take your time to
        explore
        the website and get yourself familiarized with the process.
      </li>

      <li>Why us? If you’re looking for great sales in town, look no more because only we offer you the most amazing
        deals
        for bidding! Secure your best deals with us and rest assured that you would get your best online shopping
        experience. It’s a sale like no other so what you waiting for? Start bidding on Sold.sg now!
      </li>
    </ul>
  </div>


  <div id='footer_links'>
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header">List header</li>
        <li><a href="#"><i class="icon-white icon-home"></i> Home</a></li>
        <li><a href="#"><i class="icon-white icon-book"></i> Librar©y</a></li>
        <li><a href="#"><i class="icon-white icon-pencil"></i> Applications</a></li>
        <li class="nav-header">Another list header</li>
        <li><a href="#"><i class="icon-white icon-user"></i> Profile</a></li>
        <li><a href="#"><i class="icon-white icon-cog"></i> Settings</a></li>
      </ul>
    </div>
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header">List header</li>
        <li><a href="#"><i class="icon-white icon-home"></i> Home</a></li>
        <li><a href="#"><i class="icon-white icon-book"></i> Library</a></li>
        <li><a href="#"><i class="icon-white icon-pencil"></i> Applications</a></li>
        <li class="nav-header">Another list header</li>
        <li><a href="#"><i class="icon-white icon-user"></i> Profile</a></li>
        <li><a href="#"><i class="icon-white icon-cog"></i> Settings</a></li>
      </ul>
    </div>
    <div class="span4 offset2">
      <%= image_tag('partners.png')%>
    </div>
    <div class="clear"></div>
  </div>


</div>