<footer id="newfooter">
  <div class="container">
    <div class="footer-left">
      <span class="boldtype" style="font-size: 14px;">Singapore’s Best Online Entertainment Shopping</span> <br><br>
      <span>Sold.sg is a premium online entertainment shopping website that offers you the latest, brand new products and services! A great variety of deals are put up for sale daily. These deals include PS3, iPads, iPhones, Wii, digital cameras, tv sets, airline tickets to popular destinations, hotel and spa vouchers and many more at amazing sale prices! </span>  <br><br>
      <span>How does it work? You start by purchasing Tokens from our site and each Token costs S$0.75. Choose your desired item and use your Tokens to bid. Each bid uses 1 Token and are not refundable. Every time you bid, the bid price increases by S$0.01, S$0.05 or S$0.15 while the auction time increases by 20 seconds. Wait no more and starting bidding now!</span> <br><br>
      <span>Sounds tough? Bidding on our site isn’t all that complicated once you get the hang of it. Take your time to explore the website and get yourself familiarized with the process.</span>   <br>  <br>
      <span>Why us? If you’re looking for great sales in town, look no more because only we offer you the most amazing deals for bidding! Secure your best deals with us and rest assured that you would get your best online shopping experience. It’s a sale like no other so what you waiting for? Start bidding on Sold.sg now!  </span>
    </div>

    <div class="divider-footer"></div>

    <div class="footer-right">
      <ul class="footer-links">
        <li class="footer-link-title">About Us</li>
        <li><a href="/about-us" target="_blank"> About Solg.sg</a></li>
        <li><a href="/news" target="_blank">News</a></li>
        <li><a href="/testimonials" target="_blank">Testimonials</a></li>
        <li><a href="#" target="_blank">Our Mission</a></li>
        <li><a href="/our-commitment" target="_blank">Our Commitment</a></li>
        <li><a href="/contact-us" target="_blank">Contact Us</a></li>
      </ul>

      <ul class="footer-links">
        <li class="footer-link-title">Auctions</li>
        <li><a href="/auctions/live" target="_blank"> Live</a></li>
        <li><a href="/auctions/completed" target="_blank">Completed</a></li>
        <li><a href="/rules" target="_blank">Rules</a></li>
        <li><a href="#" target="_blank">How it works</a></li>
        <li><a href="#" target="_blank">Recommend</a></li>
      </ul>

      <ul class="footer-links">
        <li class="footer-link-title">Flash Sale</li>
        <li><a href="#" target="_blank">F.A.Q</a></li> <br>
        <li class="footer-link-title">Guides</li>
        <li><a href="/guides-register" target="_blank">Beginner's Guide</a></li>
        <li><a href="/autobidder-intro" target="_blank">Auto-Bidder Guide</a></li>
        <li><a href="#" target="_blank">Help</a></li>
      </ul>

      <ul class="footer-links-inline">
            <li class="footer-link-title">Follow Us</li> <br><br>
            <li><a href="http://www.facebook.com/soldsg" target="_blank"> <img src="/assets/footer-icon1.jpg" alt=""></a> </li>
            <li><a href="http://www.twitter.com/solddotsg " target="_blank"> <img src="/assets/footer-icon2.jpg" alt=""></a></li>
            <li> <a href="http://thesoldgers.wordpress.com/" target="_blank"> <img src="/assets/footer-icon3.jpg" alt=""></a></li>
      </ul>

      <div class="divider-footer-hor"></div>

      <ul class="footer-links-inline">
        <li class="footer-link-title">Payment</li>  <br> <br>
        <li> <img src="/assets/footer-pay1.jpg" alt=""></li>
        <li> <img src="/assets/footer-pay2.jpg" alt=""></li>
      </ul>

      <ul class="footer-links-inline">
        <li class="footer-link-title">Secured by</li>  <br> <br>
        <li> <a href="#" target="_blank"> <img src="/assets/footer-verisign.png" alt=""></a>  </li>
      </ul>

      <ul class="footer-links-inline">
        <li class="footer-link-title">Accredited by</li> <br>  <br>
        <li><a style="padding-right:20px;"> <img src="/assets/footer-consumertrust.png" alt="">  </a></li>
        <li><a> <img src="/assets/footer-trustsg.jpg" alt=""></a></li>
      </ul>

    </div>

    <br class="clearfix"/>

  </div>
</footer>






<footer class="subfooter">
  <div class="subfootbar">
    <div class="container">
      <ul class="subfooter">
        <li class="noborder"><a href="/terms">Terms of Use</a></li>
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="#">Information Security</a></li>
        <li><a href="/responsible-bidding">Responsible Bidding</a></li>
        <li class="copyright"><a href="#">Copyright © 2012 Soldgers Private Limited. All Rights Reserved.</a> </li>
      </ul>
    </div>
  </div>

</footer>