<% if request.env['HTTP_USER_AGENT']
     if request.env['HTTP_USER_AGENT'] =~ /MSIE 10/
       default_modal_class = "modal hide ie10-modal"
     else
       default_modal_class = "modal hide fade"
     end
   else
     default_modal_class = "modal hide fade"
   end
%>
<div id="myLogin" class="<%= default_modal_class %>">
  <%= render :partial => "spree/shared/login/new_login", :locals => {:user => user} %>
</div>
