<!--empty cart
           <ul class="dropdown-menu cart-preview">
              <li class="empty-cart">You have no items in your cart!</li>
              <li class="divider"></li>
              <li class="pull-left btn-space"><button href="#" class="btn btn-small btn-primary">VIEW CART</button></li>
              <li class="pull-left"><button href="#" class="btn btn-small btn-primary disabled">CHECKOUT</button></li>
           </ul> -->

            <!-- full cart   -->

<ul class="dropdown-menu cart-preview">
  <li class="full-cart">
    <!--item1-->
    <div class="pull-left cart-preview-prod-name"><a href="#" class='cart-product-title'>New HTC One-V Smartphone Black </a></div>
    <div class="pull-right"><img src="/assets/cart-icon-shop.jpg" alt="" class="cart-preview-icon "></div>
    <br class="clearfix" />
    <div class="pull-left">
      <p class="cart-preview-detail">
        Quality: 1<br>
        Detail<br>
        Detail
      </p>
    </div>
    <div class="pull-right"><a href="#"><img src="/assets/prod-thumb.jpg" alt=""></a></div>
    <br class="clearfix" />
    <div class="pull-left btn-space"><button href="#" class="btn btn-mini btn-inverse">EDIT</button></div>
    <div class="pull-left"><button href="#" class="btn btn-mini btn-inverse">REMOVE</button></div>
    <div class="pull-left txt-orange cart-price-small">S$999.99</div>
    <br class="clearfix">
    <br>
    <!--item2-->
    <div class="pull-left cart-preview-prod-name"><a href="#" class='cart-product-title'>New HTC One-V Smartphone Black </a></div>
    <div class="pull-right"><img src="/assets/cart-icon-shop.jpg" alt="" class="cart-preview-icon "></div>
    <br class="clearfix" />
    <div class="pull-left">
      <p class="cart-preview-detail">
        Quality: 1<br>
        Detail<br>
        Detail
      </p>
    </div>
    <div class="pull-right"><a href="#"><img src="/assets/prod-thumb.jpg" alt=""></a></div>
    <br class="clearfix" />
    <div class="pull-left btn-space"><button href="#" class="btn btn-mini btn-inverse">EDIT</button></div>
    <div class="pull-left"><button href="#" class="btn btn-mini btn-inverse">REMOVE</button></div>
    <div class="pull-left txt-orange cart-price-small">S$999.99</div>
    <br class="clearfix">
    <br>

    <!--auction item-->
    <div class="txt-18 txt-orange">CONGRATULATIONS</div>
    <div class="txt-12">You have won the auction for:</div>
    <div class="pull-left cart-preview-auc-name"><a href="#" class='cart-product-title'>New HTC One-V Smartphone Black </a></div>
    <div class="pull-right"><a href="#"><img src="/assets/prod-thumb.jpg" alt=""></a></div>
    <br class="clearfix" />
    <div class="pull-left btn-space"><button href="#" class="btn btn-mini btn-inverse">EDIT</button></div>
    <div class="pull-left"><button href="#" class="btn btn-mini btn-inverse">REMOVE</button></div>
    <div class="pull-left txt-orange cart-price-small">S$999.99</div>
    <br class="clearfix">
    <br>
    <!--subtotal-->
    <hr>
    <div class="pull-left"><p class="txt-18">Subtotal</p></div>
    <div class="pull-right"><p class="txt-18">S$999.00</p></div>
    <br>
    <hr>
    <span>All shipping will be free if total amount in cart is S$150 or more!</span>
  </li> <!--full cart ends here -->
  <br>
  <li class="pull-left btn-space"><button href="#" class="btn btn-small btn-primary">VIEW CART</button></li>
  <li class="pull-left"><button href="#" class="btn btn-small btn-primary">CHECKOUT</button></li>
</ul>