<div id="myRegistration" class="modal hide fade">
  <div class="modal-header">
    <p class="close" data-dismiss="modal">×</p>

    <h2>Create a Sold.sg account</h2>
  </div>
  <%= simple_form_for (@user||Spree::User.new), :url => user_registration_path(@user||Spree::User.new), :wrapper => :no_label, :html => {:class => 'form-horizontal', :id => 'registration_form'} do |f| %>
      <div class="modal-body">

        <%= render :partial => 'spree/shared/user_form', :locals => {:f => f} %>

        <hr>
      </div>
      <div class="modal-footer">
        <ul class="reg-cta">
          <li class="pull-left">
            <input class="btn btn-primary" name="commit" type="submit" value="SIGN ME UP!">
          </li>
          <li class="midbtn pull-left"> or</li>
          <li class="fb-login pull-left">
            <a href="users/auth/facebook" title="Login with facebook"><img alt="facebook" src="/assets/fb-login.png"></a>
          </li>
          <br class="clearfix">
        </ul>
      </div>
  <% end %>
</div>