<% if request.env['HTTP_USER_AGENT']
     if request.env['HTTP_USER_AGENT'] =~ /MSIE 10/
       default_modal_class = "modal hide"
     else
       default_modal_class = "modal hide fade"
     end
   else
     default_modal_class = "modal hide fade"
   end
%>
<div id="myRegistration" class="<%= default_modal_class %>">
  <% if 'validate_sms' == params[:t] %>

      <%= render :partial => "spree/shared/registration/sms_validating" %>
       
      <script type="text/javascript">
          $(function () {
              $('#myRegistration').modal({ keyboard:false, backdrop:'static', show:true })
          });
      </script>
  <% else %>
      <%= render :partial => "spree/shared/registration/pending", :locals => {:user => user} %>
  <% end %>
</div>
