<% if current_user %>
    <!--<div class="toolbar">
      <ul class="toolbar-sale">
        <li class="pull-right">
          <label class="checkbox txt-white">
            <input type="checkbox" name="optionsCheckboxList1" value="option1">
            Inform me when there are new sales
          </label>
        </li>
      </ul>
    </div>-->
<% end %>